:root {
    --black: #000000;
    --gray: #73695c;
    --darkbrown: #735a39;
    --brown: #bf9660;
    --whiteish: #f4dfc3;
    --white: #ffffff;
}

button, input, select, textarea {
    display: block;
    margin: 7px;
}

header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 90px;
    color: var(--white);
    text-align: center;
}

body {
    font-family: 'Sarabun', sans-serif;
    font-size: 25px;
    background-color: var(--brown);
}

#hero {
    background-image: url(./img/kitchen-utensils-composition-arrangement.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#recipeName {
    font-family: 'Bebas Neue', sans-serif;
}

img {
    position: relative;
    width: 85% !important;
    top: 20px;
    border-radius: 6px;
}

.message {
    align-items: right;

    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: 0;
    align-self: flex-end;


}

.title {

    margin-left: auto;
    margin-right: 0;
}
#quoteBlock{
    display: block;
}